// Colors
$main-color: #FF3465;
$secondary-color: #2550de;
$meta-color: #a5adb8;
$text-color: #656970;
$heading-color: #353f58;
$bg-light: #f7fbff;
$bg-dark: #282e38;
$border-color: #e7eaf0;
$border-color-dark: #313131;

// Fonts
$body-font: 'Roboto', sans-serif;
$heading-font: 'Rubik', sans-serif;

// Navbar
$nav-height: 72px;

// Transitions
$all: all .2s cubic-bezier(.43,.07,.61,.95);

// Editor
$pullquote-text-font-size: 1rem;
$pullquote-text-font-size--small: 1.25rem;