/*-------------------------------------------------------*/
/* Helper Classes
/*-------------------------------------------------------*/
.bg-light { background-color: $bg-light; }
.bg-dark { background-color: $bg-dark; }

/* Gradients / Overlays
-------------------------------------------------------*/
.bg-overlay:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba($secondary-color, .93);
}

.bg-overlay--dark:before {
  background-color: rgba( $bg-dark, .45 );
}

.bottom-gradient {
  position: relative;  

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 0;
    left: 0;
    z-index: 1;
    @include linear-gradient-from-bottom(rgba(#000, .70), transparent);
  }
}


/* Box Shadow
-------------------------------------------------------*/
.box-shadow {
  box-shadow: 0px 10px 27px 0px rgba( #9aa1ab, .18 );
  @include transition ($all);
  position: relative;
  display: block;
  top: 0;
}


/* Title Underline
-------------------------------------------------------*/
.title-underline {
  a {
    background-image: linear-gradient(to right, $heading-color 0%, $heading-color 100%);
    background-size: 0px 2px;
    background-position: 0px 95%;
    background-repeat: no-repeat;
    transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    padding: 0.5% 0px;
  }

  &:hover a {
    background-size: 100% 2px;
  }
}


/* Link Underline
-------------------------------------------------------*/
.link-underline {
  position: relative;
  @include transition( $all );

  &:after {
    content: '';
    position: absolute;
    display: inline-block;
    background-color: $main-color;
    height: 2px;
    width: 62px;
    left: 0;
    bottom: -8px;
    @include transition( $all );  
  }

  &:hover,
  &:focus {
    color: $main-color;

    &:after {
      width: 100%;
    }
  }
}


/* Flexbox
-------------------------------------------------------*/
.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}